<nav class="navbar navbar-inverse navbar-fixed-top">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			
		</div>
		<div class="navbar-collapse collapse navbar-inverse-collapse">
			<ul class="nav navbar-nav navbar-left">
				<li><%= link_to 'Inicio', root_path, class: "navbar-brand" %></li>
				<%= render 'layouts/navigation_links' %>
			</ul>

			<ul class="nav navbar-nav navbar-right">
				<% if user_signed_in? %>
					<li><%= link_to current_user.email, publications_path %><li>	
					<li class="divider"></li>
					<li><%= link_to "Salir", destroy_user_session_path, :method => :delete  %></li>
				<% else %>
					<li><%= link_to "Registrarse", new_user_registration_path %></li>
					<li><%= link_to "Entrar", new_user_session_path %></li>
				<% end %>
			</ul>
		</div>
	</div>
</nav>
