<%= form_for @publication, :html => { :class => "form-horizontal publication" } do |f| %>

  <% if @publication.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@publication.errors.count, "error") %> prohibited this publication from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @publication.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

<div class="row">
  <div class="col-md-2">
     <label for="effective_date" class="control-label">Fecha
        <span class="required">*</span> 
     </label>
     <div class="input-group">
     <%= f.text_field :effective_date, :required => true , :class => 'form-control', 'data-behaviour' => 'datepicker', 
     "data-date-format" => "dd/mm/yyyy" %>
      <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
      </div>
     <%= error_span(@publication[:effective_date]) %>
  </div>
  <div class="col-md-3">
    <label for="operation" class="control-label"></label>
    <div class="radio">
      <label class="radio-inline">
        <%= f.radio_button :operation, "Alquiler", :checked => 'checked' %><p>Alquiler</p>
      </label>
      <label class="radio-inline">  
        <%= f.radio_button :operation, "Venta" %><p>Venta</p>
      </label>
    </div>   
  </div>
</div>

<div class="row">  
  <div class="col-md-2">
    <label for="neighbourhood" class="control-label">Barrio
      <span class="required">*</span>
    </label>
     <%= f.collection_select(:neighbourhood_id, Neighbourhood.all , :id, :name, {:prompt   => "Seleccione una opción"}, { :class =>"form-control", :required => true } ) %>
    <%= error_span(@publication[:neighbourhood]) %>
   </div>
  <div class="col-md-4">
    <label for="address" class="control-label">Dirección
      <span class="required">*</span>
    </label>
      <input id="address" name="publication[address]" class="form-control" type="text" placeholder="Autocompletado automático" required="required">
      <%= error_span(@publication[:address]) %>
  </div>

  <div class="col-md-2">
    <label for="floor" class="control-label">Piso</label>
    <%= f.number_field :floor, :class => 'form-control' , step: 1 , min: 0 %>
    <%= error_span(@publication[:floor]) %>
  </div>
  <div class="col-md-2">
    <label for="apartment" class="control-label">Departamento</label>
    <%= f.text_field :apartment, :class => 'form-control' %>
    <%= error_span(@publication[:apartment]) %>
  </div>
</div>

<div class="row">
  <div class="col-md-2">
    <label for="inmueble" class="control-label">Tipos de inmueble</label>
    <%= f.collection_select(:property_type_id, PropertyType.all , :id, :name, {:prompt   => "Seleccione una opción"}, { :class =>"form-control" } ) %>  
    <%= error_span(@publication[:property_type]) %>
  </div>
  <div class="col-md-2">
    <label for="number_spaces" class="control-label">Ambientes</label>
    <%= f.number_field :number_spaces, :class => 'form-control',step: 1, min: 0 %>
    <%= error_span(@publication[:number_spaces]) %>
  </div>
  <div class="col-md-2">
    <label for="surface" class="control-label">Superficie (m2)</label>
    <%= f.number_field :surface, :class => 'form-control',step: 1, min:0 %>
    <%= error_span(@publication[:surface]) %>
  </div>
  <div class="col-md-2">
    <label for="antiquity" class="control-label">Antiguedad</label>
    <%= f.number_field :antiquity,  :class => 'form-control',step: 1, min:0 %>
    <%= error_span(@publication[:antiquity]) %>
  </div>
 
</div>

<div class="row">
<div class="col-md-2">
    <label for="price" class="control-label">Precio
      <span class="required">*</span>
    </label>
    <%= f.number_field :price, :class => 'form-control', :required => true, step: 0.01 , min: 0 %>
    <%= error_span(@publication[:price]) %>
  </div>
  <div class="col-md-2">
    <label for="expenses" class="control-label">Expensas</label>
    <%= f.number_field :expenses, :class => 'form-control', step: 0.01, min:0 %>
    <%= error_span(@publication[:expenses]) %>
  </div>
  <div class="col-md-3">
    <label for="currency" class="control-label"></label>
    <div class="radio">
      <% Currency.all.each do |c| %>
      <label class="radio-inline">
        <%= f.radio_button :currency_id , c.id , :checked => (@publication.currency_id == c.id) ? 'checked' : "" %><p> <%= c.abreviatura %></p>
      </label>
    <% end %>  
    </div>   
  </div>


</div>

<div class="row"> 
  <div class="col-md-10"> 
    <label for="description" class="control-label">Descripción</label>
    <%= f.text_area :description, :class => 'form-control' %>
    <%= error_span(@publication[:description]) %>
    </div>
</div>
<div class="row">
    <div class="col-md-10">
    <label for="additional_info" class="control-label">Información Adicional</label>
    <%= f.text_area :additional_info, :class => 'form-control' %>
    <%= error_span(@publication[:additional_info]) %>
    </div>
</div>

<br>
  <div class="form-group">
    <div class="col-md-4 ">  
      <%= f.submit 'Crear Publicacion', :class => 'btn btn-primary' %>
      <%= link_to 'Cancelar', publications_path, :class => 'btn btn-default' %>
    </div>
  </div>

<% end %>

<script type="text/javascript" >
  var ready;
  ready = function() {
    // https://developers.google.com/places/documentation/autocomplete#place_types
    var addressPicker = new AddressPicker(
      {
        autocompleteService: {
          types: ['address'], 
          componentRestrictions: {country: 'AR'}
        }
      }
    );

    $('#address').typeahead(null, {
      displayKey: 'description',
      source: addressPicker.ttAdapter()
    });

    //$('#address').on('typeahead:selected', function (e, direccion) {
    //  console.log(direccion);
    //});


    $('#publication_effective_date').datepicker(
      {
        language: "es",
        startDate: "<%= DateTime.now.strftime("%d/%m/%Y") %>",
        autoclose: true,
        todayHighlight: true
      }
    );
  }

  $(document).ready(ready);
  $(document).on('page:load', ready);
</script>
