<%# app/views/publicactions/_list.html.erb %>

<div id="results">
 <table class="table table-bordered table-hover table-condensed">
  <thead class="headingListar">
    <tr>
      <th>Fecha Publicación</th>
      <th>Fecha Vencimiento</th>
      <th>Dirección</th>
      <th>Barrio</th>
      <th>Tipo de Inmueble</th>
      <th>Plan</th>
      <th>Tipo de Operacion</th>
      <th>Precio</th>
      <th>Acciones</th>
    </tr>
  </thead>
  <tbody>
    <% publications.each do |publication| %>
      <tr>
        <td><%= publication.effective_date.strftime("%d/%m/%Y") %></td>
        <td><%= publication.end_date.strftime("%d/%m/%Y") %></td>
        <td><%= publication.address %></td>
        <td><%= publication.neighbourhood.name  if publication.neighbourhood %></td>
        <td><%= publication.property_type.name  if publication.property_type %></td>
        <td><%= publication.plan.name  if publication.plan %></td>
        <td><%= publication.operation %></td>
        <td><%= publication.currency.abreviatura %> <%= publication.price %></td>
        <td>
          <%= button_to publication , class: "btn btn-default btn-xs", :method => :get do %>
            <span class="glyphicon glyphicon-eye-open " title="Ver Publicación"></span>
          <% end %>
          <%= button_to edit_publication_path(publication) , class: "btn btn-default btn-xs", :method => :get do %>
            <span class="glyphicon glyphicon-edit" title="Editar Publicación"></span>
          <% end %>
          <% if policy(publication).delete? %>
	          <%= button_to publication,class: "btn btn-danger btn-xs", method: :delete, data: {confirm: '¿Esta usted seguro que quiere eliminar la publicación?' } do %>
	            <span class="glyphicon glyphicon-remove-circle" title="Eliminar Publicación"></span>
	          <% end %>
          <% end %>           
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= will_paginate publications, renderer: BootstrapPagination::Rails  %>
</div>


