<%# app/views/publicactions/_list.html.erb %>

<div id="results">
 <table class="table table-bordered table-hover table-condensed">
  <thead class="headingListar">
    <tr>
      <th>Fecha Publicación</th>
      <th>Fecha Vencimiento</th>
      <th>Dirección</th>
      <th>Barrio</th>
      <th>Tipo de Inmueble</th>
      <th>Plan</th>
      <th>Tipo de Operacion</th>
      <th>Precio</th>
      <th class="actionsColumn">Acciones</th>
    </tr>
  </thead>
  <tbody>
    <% publications.each do |publication| %>
      <tr>
        <td><%= publication.effective_date.strftime("%d/%m/%Y") %></td>
        <td><%= publication.end_date.strftime("%d/%m/%Y") %></td>
        <td><%= publication.address %></td>
        <td><%= publication.neighbourhood.name  if publication.neighbourhood %></td>
        <td><%= publication.property_type.name  if publication.property_type %></td>
        <td><%= publication.plan.name  if publication.plan %></td>
        <td><%= publication.operation %></td>
        <td class="oneLineColumn"><%= publication.currency.abreviatura %> <%= publication.price %></td>
        <td class="actionsColumn">
          <% if(publication.isActive) %>
            
            <% if(publication.available?) %>
              <%= button_to stop_publication_path(publication) , class: "btn btn-default btn-xs", :method => :get do %>
                <span class="glyphicon glyphicon-pause" title="Pausar"></span>
              <% end %>

              <a class="btn btn-default btn-xs" data-target="#myModal_<%= publication.id %>" data-toggle="modal" href="#">
                  <span class="glyphicon glyphicon-ban-circle" title="Finalizar"></span>
              </a>  
             <%= render partial: 'publications/confirmFinishModal', locals: {publication: publication}  %>
            
            <% end %>
            
            <% if(publication.stopped?) %>
              <%= button_to active_publication_path(publication) , class: "btn btn-default btn-xs", :method => :get do %>
                <span class="glyphicon glyphicon-play" title="Activar"></span>
              <% end %>
            <% end %>
          <% end %>
          <%= button_to publication , class: "btn btn-default btn-xs", :method => :get do %>
            <span class="glyphicon glyphicon-eye-open " title="Ver Publicación"></span>
          <% end %>
          
          <% if(!publication.finished? && (publication.end_date > Date.today)) %>          
              <%= button_to edit_publication_path(publication) , class: "btn btn-default btn-xs",:method => :get do %>
              <span class="glyphicon glyphicon-edit" title="Editar Publicación"></span>
              <% end %>
          <% end %>

          <% if policy(publication).delete? %>
	          <%= button_to publication, class: "btn btn-danger btn-xs", method: :delete, data: {confirm: '¿Esta usted seguro que quiere eliminar la publicación?' } do %>
	            <span class="glyphicon glyphicon-remove-circle" title="Eliminar Publicación"></span>
	          <% end %>
          <% end %>     

          <% if(policy(publication).republish?) %>  
            <%= button_to republicate_path(publication),class: "btn btn-success btn-xs", method: :get do %>
              <span class="glyphicon glyphicon-repeat" title="Republicar"></span>
            <% end %>
          <% end %>  
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= will_paginate publications, renderer: BootstrapPagination::Rails  %>
</div>

