<div class="page-header">
  <h1>Mis Publicaciones</h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Fecha</th>
      <th>Tipo</th>
      <th>Dirección</th>
      <th>Barrio</th>
      <th>Piso</th>
      <th>Depto</th>
      <th>Ambientes</th>
      <th>Superficie</th>
      <th>Precio</th>
      <th>Expensas</th>
      <th>Antiguedad</th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @publications.each do |publication| %>
      <tr>
        <td><%= publication.effective_date %></td>
        <td><%= publication.operation %></td>
        <td><%= publication.address %></td>
        <td><%= publication.neighbourhood.name %></td>
        <td><%= publication.floor %></td>
        <td><%= publication.apartment %></td>
        <td><%= publication.number_spaces %></td>
        <td><%= publication.surface %></td>
        <td>(<%= publication.currency.abreviatura %>) <%= publication.price %></td>
        <td><%= publication.expenses %></td>
        <td><%= publication.antiquity %></td>
        <td>
          <%= link_to "Ver",
                      publication_path(publication), :class => 'btn btn-success btn-xs' %>
          <%= link_to "Editar",
                      edit_publication_path(publication), :class => 'btn btn-default btn-xs' %>
          <%= link_to "Eliminar",
                      publication_path(publication),
                      :method => :delete,
                      :data => { :confirm => "¿Esta usted seguro que quiere eliminar la publicación?"},
                      :class => 'btn btn-xs btn-danger' %>

        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to "Nueva publicación",
            new_publication_path,
            :class => 'btn btn-primary' %>
