<div class="page-header">
  <h1>Mis Publicaciones</h1>
</div>

<%= form_for @filterrific do |f| %>
  <div class="row"> 
   <div class="col-md-3">
    Fecha Desde
     <div class="input-group">
    <%= f.text_field :date_at_gte, :class => 'form-control', 'data-behaviour' => 'datepicker', 
     "data-date-format" => "dd/mm/yyyy" %>
     <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
      </div>
  </div>
  <div class="col-md-3">
    Fecha Hasta
     <div class="input-group">
    <%= f.text_field(:date_at_lt, :class => 'form-control','data-behaviour' => 'datepicker', 
     "data-date-format" => "dd/mm/yyyy" ) %>
     <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
      </div>
  </div> 
  <div class="col-md-3">
    Barrio  
    <%= f.collection_select(:with_neighbourhood_id, Neighbourhood.all , :id, :name, {:prompt   => "Seleccione una opción"}, { :class =>"form-control" } ) %>
  </div>
</div>
<div class="row">
  <div class="col-md-3">
    Precio Desde
    <%= f.number_field :price_gte, :class => 'form-control', step: 0.01 , min: 0 %>
  </div>
  <div class="col-md-3">
    Moneda
    <div class="radio">
      <label class="radio-inline">
        <%= f.radio_button :currency_filter_id , 0 , :checked => 'checked'  %><p> Ambos </p>
      </label>
      <% Currency.all.each do |c| %>
      <label class="radio-inline">
        <%= f.radio_button :currency_filter_id , c.id %> <p> <%= c.abreviatura %></p>
      </label>
    <% end %>  
    </div>   
  </div>
  <div class="col-md-3">
    Tipo de Operación
    <div class="radio">
      <label class="radio-inline">
        <%= f.radio_button :operation_search, "Ambos", :checked => 'checked' %><p>Ambos</p>
      </label>
      <label class="radio-inline">
        <%= f.radio_button :operation_search, "Alquiler" %><p>Alquiler</p>
      </label>
      <label class="radio-inline">  
        <%= f.radio_button :operation_search, "Venta" %><p>Venta</p>
      </label>
    </div>   
  </div> 
</div>  
  <div>
    <%= link_to(
      'Limpiar',
      reset_filterrific_publications_path,
    ) %>
  </div>
<% end %>

<br>
<%= render partial: 'publications/list', locals: {publications: @publications}  %>

<%= link_to "Nueva publicación", new_publication_path, :class => 'btn btn-primary' %>
<br>

<script type="text/javascript" >

$('#filterrific_date_at_gte').datepicker( {language: "es", autoclose: true,todayHighlight: true}).on('changeDate', 
	function (selected) {
        startDate = new Date(selected.date.valueOf());
        startDate.setDate(startDate.getDate(new Date(selected.date.valueOf())));
        $('#filterrific_date_at_lt').datepicker('setStartDate', startDate);
    });

$('#filterrific_date_at_lt').datepicker( {language: "es", autoclose: true,todayHighlight: true}).on('changeDate', 
	function (selected) {
        endDate = new Date(selected.date.valueOf());
        endDate.setDate(endDate.getDate(new Date(selected.date.valueOf())));
        $('#filterrific_date_at_gte').datepicker('setEndDate', endDate);
    });;

</script>
