<%- model_class = Publication -%>
<div class="page-header">
  <h1><%=t '.title', :default => "Publicaciones" %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th>Fecha</th>
      <th>Tipo</th>
      <th>Dirección</th>
      <th>Barrio</th>
      <th>Piso</th>
      <th>Depto</th>
      <th>Ambientes</th>
      <th>Superficie</th>
      <th>Precio</th>
      <th>Expensas</th>
      <th>Antiguedad</th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @publications.each do |publication| %>
      <tr>
        <td><%= link_to publication.id, publication_path(publication) %></td>
        <td><%= publication.effective_date %></td>
        <td><%= publication.operation %></td>
        <td><%= publication.address %></td>
        <td><%= publication.neighbourhood.name %></td>
        <td><%= publication.floor %></td>
        <td><%= publication.apartment %></td>
        <td><%= publication.number_spaces %></td>
        <td><%= publication.surface %></td>
        <td>(<%= publication.currency.abreviatura %>) <%= publication.price %></td>
        <td><%= publication.expenses %></td>
        <td><%= publication.antiquity %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_publication_path(publication), :class => 'btn btn-default btn-xs' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      publication_path(publication),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-xs btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_publication_path,
            :class => 'btn btn-primary' %>
