<div class="page-header">
<h3><strong><%= @publication.address %></strong></h3>
</div>


<div class="row">
  <div class="col-md-4">
    <div class="mediaTypeLink" onclick="showPhotos()">FOTOS</div><div class="mediaTypeLink" onclick="showVideo()">VIDEO</div>
    <div class="mediaContainer" id="mediaContainer" >
      <div id="myCarousel" class="carousel slide" >
        <ol class="carousel-indicators">
          <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
          <% (1..(@publication.uploads.size()- 1)).each do |i| %>
            <li data-target="#myCarousel" data-slide-to=<%= i.to_i %> ></li>
          <% end %>   
        </ol>
        <div class="carousel-inner" >
          <% if(@publication.uploads.size() > 0) %>
            <div class="item active">
              <img src="<%= @publication.uploads.first().upload %>" style="width:100%;height:100%;" />
            </div>
            <% @publication.uploads.drop(1).each do |u| %>
              <div class="item ">
                <img src="<%= u.upload %>" style="width:100%;height:100%;" />
              </div>
          <% end %>
          <% else %>
            <div class="item active">
              <%= image_tag "no_foto.jpg" , :width=>"100%", :height=>"100%" %>
            </div>
          <% end %>   
        </div>
        <!-- Carousel nav -->
        <a class="carousel-control left" href="#myCarousel" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
        <a class="carousel-control right" href="#myCarousel" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
      </div>
      
      <!-- VIDEO -->
      <div id="videoContainer" style="display:none;">
        <% if (@publication.video_uploads.size() > 0) %>
        <%= video_tag @publication.video_uploads.first().video_url.to_s, :controls => true, :width=>"100%", :height=>"100%" %>
      <% else %>
        <%= image_tag "no_foto.jpg" , :width=>"100%", :height=>"100%" %>
      <% end %>
      </div>
    </div>
  </div>

  <div class="col-md-4">
    <br>
    <dl>
      <dd><strong>Teléfono Anunciante</strong>: <%= @publication.user.phone_number %></dd>
      <dd><strong>Email Anunciante</strong>: <%= @publication.user.email %></dd>
      <dd><strong>Barrio</strong>: <%= @publication.neighbourhood.name %></dd>
      <dd><strong>Precio (<%= @publication.currency.abreviatura %>)</strong>: <%= @publication.price %></dd>
      <dd><strong>Expensas (<%= @publication.currency.abreviatura %>)</strong>: <%= @publication.expenses %></dd>
      <dd><strong>Tipo</strong>: <%= @publication.operation %></dd>
      <dd><strong>Ambientes</strong>: <%= @publication.number_spaces %></dd>
      <dd><strong>Superficie</strong>: <%= @publication.surface %></dd>
      <dd><strong>Antiguedad (años) </strong>: <%= @publication.antiquity %></dd>
      <% if not @publication.description.blank? %>
      <dd><strong>Descripción</strong></dd>
      <p style="line-height: 1.42857143;" ><%= @publication.description %></p>
      <% end %>
      <% if not @publication.additional_info.blank? %>
      <dd><strong>Información adicional</strong></dd>
      <p style="line-height: 1.42857143;" ><%= @publication.additional_info %></p>
      <% end %>

    </dl>     
  </div>
  <div class="col-md-4">
    <br>
    <%= image_tag("http://maps.google.com/maps/api/staticmap?center=#{@publication.lat},#{@publication.lng}&zoom=14&size=300x200&markers=size:mid|color:red|#{@publication.lat},#{@publication.lng}") %>
  </div>
</div>
</br>

<script type="text/javascript" >
  $( document ).ready(function() {
      $('.carousel').carousel();
      //attach to file chosen event
      $("#video_upload_file").change(function (){
      	onfileSelected();
      });

      $("#main_navbar").hide();
  });
  

  function showPhotos(){
  	$('#videoContainer').hide();
  	$('#myCarousel').show();
  }
  
  function showVideo(){
  	$('#myCarousel').hide();
  	$('#videoContainer').show();
  }

</script>

