<div class="page-header">
  <h1>Publicación</h1>
</div>


<div class="row">
  <div class="col-md-4">
  	<div class="mediaTypeLink" onclick="showPhotos()">FOTOS</div><div class="mediaTypeLink" onclick="showVideo()">VIDEO</div>
    <div class="mediaContainer" id="mediaContainer">
	    <div id="myCarousel" class="carousel slide">
	      <ol class="carousel-indicators">
	        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
	        <% (1..(@publication.uploads.size()- 1)).each do |i| %>
	          <li data-target="#myCarousel" data-slide-to=<%= i.to_i %> ></li>
	        <% end %>   
	      </ol>
	      <div class="carousel-inner">
	        <% if(@publication.uploads.size() > 0) %>
	          <div class="item active">
	            <img src="<%= @publication.uploads.first().upload %>" style="width:100%;height:100%;" />
	          </div>
	          <% @publication.uploads.drop(1).each do |u| %>
	            <div class="item ">
	              <img src="<%= u.upload %>" style="width:100%;height:100%;" />
	            </div>
	        <% end %>
	        <% else %>
	          <div class="item active">
	            <%= image_tag "no_foto.jpg" , :width=>"100%", :height=>"100%" %>
	          </div>
	        <% end %>   
	      </div>
	      <!-- Carousel nav -->
	      <a class="carousel-control left" href="#myCarousel" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
	      <a class="carousel-control right" href="#myCarousel" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
	    </div>
	    
	    <!-- VIDEO -->
	    <div id="videoContainer" style="display:none">
	    	<% if (@publication.video_uploads.size() > 0) %>
				<%= video_tag @publication.video_uploads.first().video_url.to_s, :controls => true, :width=>"100%", :height=>"100%" %>
			<% else %>
				<%= image_tag "no_foto.jpg" , :width=>"100%", :height=>"100%" %>
			<% end %>
	    </div>
    </div>
  </div>

  <h2><strong><%= @publication.address %></strong></h2>
  <div class="col-md-4">
    <dl class="dl-horizontal">
      <dt><strong>Plan</strong></dt>
      <dd><%= @publication.plan.name %></dd>
      <dt><strong>Fecha de publicación</strong></dt>
      <dd><%= @publication.effective_date %></dd>
      <dt><strong>Fecha de vencimiento</strong></dt>
      <dd><%= @publication.end_date %></dd>
      <dt><strong>Barrio</strong></dt>
      <dd><%= @publication.neighbourhood.name %></dd>
      <dt><strong>Precio (<%= @publication.currency.abreviatura %>)</strong></dt>
      <dd><%= @publication.price %></dd>
      <dt><strong>Expensas (<%= @publication.currency.abreviatura %>)</strong></dt>
      <dd><%= @publication.expenses %></dd>
      <dt><strong>Descripción</strong></dt>
      <dd><%= @publication.description %></dd>
    </dl>     
  </div>

  <div class="col-md-4">
    <dl class="dl-horizontal">
      <dt><strong>Tipo</strong></dt>
      <dd><%= @publication.operation %></dd>
      <dt><strong>Piso</strong></dt>
      <dd><%= @publication.floor %></dd>
      <dt><strong>Departamento</strong></dt>
      <dd><%= @publication.apartment %></dd>
      <dt><strong>Ambientes</strong></dt>
      <dd><%= @publication.number_spaces %></dd>
      <dt><strong>Superficie</strong></dt>
      <dd><%= @publication.surface %></dd>
      <dt><strong>Antiguedad (años) </strong></dt>
      <dd><%= @publication.antiquity %></dd>
      <dt><strong>Información adicional</strong></dt>
      <dd><%= @publication.additional_info %></dd>
    </dl>     
  </div>
</div>

<div class="row">
  <div class="col-md-8 col-md-offset-4">
      <% if policy(@publication).upload_video? %>
      	<%= form_for VideoUpload.new, :url => "/video_uploads/create/#{@publication.id}", :html => { :multipart => true, :id => "videoupload"  } do |f| %>
      	  <span class="btn btn-md btn-success fileinput-button" id="video_upload_file_container">
      		<span>Seleccionar Video</span>
              <%= f.file_field :video, :id => "video_upload_file" %>
            </span>
          </span>
      	  <%= f.submit 'Guardar Video', :id => "video_upload_button", :class => 'btn btn-md btn-primary videoButton', :style => "display:none;" %>
      	<% end %>
      <% end %>
	  <% if policy(@publication).delete_video? %>
      	<%= form_for VideoUpload.new, :url => "/video_uploads/destroy/#{@publication.video_uploads.first.id}", :html => { :multipart => true, :id => "videoupload"  } do |f| %>
      	  <%= f.submit 'Eliminar Video', :id => "video_upload_button", :class => 'btn btn-md btn-danger videoButton', :data => { :confirm => '¿Esta usted seguro que quiere eliminar el video de la publicación?' } %>
      	<% end %>
      <% end %>

      <%= link_to "Imagenes", uploads_publication_path(@publication), :class => 'btn btn-md btn-default' %>

      <%= link_to "Volver",  publications_path, :class => 'btn btn-md btn-default'  %>
      <%= link_to "Editar", edit_publication_path(@publication), :class => 'btn btn-md btn-default' %>
      

      <%= link_to "Eliminar", publication_path(@publication), :method => 'delete',              :data => { :confirm => 'Está seguro que desea eliminar la publicación?' }, :class => 'btn btn-md btn-danger' %>
    
  </div>
</div>
<script type="text/javascript" >
  $( document ).ready(function() {
      $('.carousel').carousel();
      //attach to file chosen event
      $("#video_upload_file").change(function (){
      	onfileSelected();
      });
  });
  
  function showPhotos(){
  	$('#videoContainer').hide();
  	$('#myCarousel').show();
  }
  
  function showVideo(){
  	$('#myCarousel').hide();
  	$('#videoContainer').show();
  }
 
  function validVideoFormat(filename){
  	// a bit ugly validation
  	fileExtension = $("#video_upload_file").val().split('.').pop();
  	return (fileExtension == "mp4" || fileExtension == "mkv");
  }
 
  function onfileSelected(){
  	filename = $("#video_upload_file").val().split('\\').pop();
  	if (validVideoFormat(filename)){
	  	$("#video_upload_file").hide();
	  	$("#video_upload_file_container").hide();
	  	$("#video_upload_button").show();
	  	$("#video_upload_button").attr("title", filename);
  	}else{
  		alert('Formato de video invalido. Seleccione un video con formato mp4 o mkv');
  	}
  }

</script>

